body {

    background-color: pink;
    display: flex;
    align-items:center;
    justify-content: center;
    margin: 0;
    height: 100vh;
}
.displayNone{
    display: none !important;
}

#modalWrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-content: center;
    background-color:red;
    
}

#botonA {
width: 100px;
height: 200px;


}